@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import "~@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #121212;
  color: aliceblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* font-family: 'Roboto', sans-serif; */
  /* background-color: #0A0A0A; */
  /* background-color: #15292B; */
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-thumb{
  background-color: #1f1f1f;
}

i,#fi{
  @apply flex items-center;
}

.selected-category{
  @apply bg-blue-600 shadow-md shadow-black drop-shadow-sm border-none rounded-full py-2 px-4;
}
input, textarea{
  @apply text-[#ffffff] bg-[#222222] outline-none;
}

#input{
  @apply border-none;
}

footer::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: url(https://img.freepik.com/free-photo/abstract-circular-blinds-oscillation-background-3d-rings-wavy-surface-geometric-elements-displacement_1217-2527.jpg?size=626&ext=jpg&ga=GA1.1.1835354613.1698558582&semt=ais) no-repeat center center/cover; */
  /* background: url('https://img.freepik.com/free-vector/realistic-polygonal-background_52683-59998.jpg?size=626&ext=jpg&ga=GA1.1.1835354613.1698558582&semt=ais') no-repeat center center/cover; */
  background: url('https://img.freepik.com/free-photo/free-photo-black-grunge-abstract-background-pattern-wallpaper_1340-34121.jpg?t=st=1701197260~exp=1701200860~hmac=b430dcc0c47e372f3d9d8b5ff1d2f5836bbfdf74b7bd9891561d6503e9f69ed6&w=740') no-repeat center center/cover;
  opacity: 0.8;
  z-index: -1;
}


/* Utilities */



.selected-category:hover{
  text-shadow: none;
}

.unselected{
  @apply hover:bg-blue-600 border border-blue-600 rounded-full py-2 px-4;
}


.hover-glow-text:hover{
  text-shadow: 1px 1px white;
}

.glow-text{
  text-shadow: 1px 1px white;
}

.custom-scrollbar::-webkit-scrollbar{
  background-color: black;
  width: 0px;
  height: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: #1f1f1f;
}

.my-container{
  @apply sm:my-8 sm:mx-[4rem] sm:p-4 mx-4;
}

.my-container-1{
  @apply sm:px-[5rem] p-12;
}

.my-container-2{
  @apply sm:px-[5rem] py-8 px-8;
}

.inner-container{
  @apply py-12 px-4 space-y-4;
}